<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Information</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Cloud Deliveries</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/information}" href="#">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pedido}" href="#">Create Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/verpedidos}" href="#">See Requests</a>
            </li>         
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}" href="#">Register</a>
            </li>
            
            
            
          
      </div>
    </nav>
    
    
    <div class="container">
        <h1>Information</h1>
        <h3>Tema</h3>
        <p>CloudDeliveries</p>
        <h3>Problema/oportunidade</h3>
        <p>As compras on-line são muito convenientes, mas requerem também a resolução do canal de entregas.
Para o utilizador final, o acesso a um portal único, para as compras mais frequentes, torna o processo de compra mais fácil.</p>
        <h3>Conceito/solução :</h3>
        <p>A agregegação da disponibilidade de estafetas informais (e.g.: part-time) permite criar “frotas” de entrega dinâmicas e locais. A esta plataforma, podem-se associar negócios que querem beneficiar do processo de entrega, criando uma experiência integrada para o cliente.</p>
        <h3>Referências relacionadas</h3>
        <p>Glovo</p>
    </div>
    
</body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>